In [410]:
import pandas as pd
import numpy
import matplotlib as plt
from pandas import DataFrame
import random

In [411]:
happy21_df = pd.read_csv("C:\\Users\\pwurt\\documents\\DA_pathway\\M3\\World_Happy\\World_Happiness_Report\\.venv\\happiness_report_22\\2021.csv")

happy21_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [412]:
happy21_df.columns = happy21_df.columns.str.title()

happy21_df.head()

,Country Name,Regional Indicator,Ladder Score,Standard Error Of Ladder Score,Upperwhisker,Lowerwhisker,Logged Gdp Per Capita,Social Support,Healthy Life Expectancy,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Ladder Score In Dystopia,Explained By: Log Gdp Per Capita,Explained By: Social Support,Explained By: Healthy Life Expectancy,Explained By: Freedom To Make Life Choices,Explained By: Generosity,Explained By: Perceptions Of Corruption,Dystopia + Residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [413]:
happy21_df.columns

Index(['Country Name', 'Regional Indicator', 'Ladder Score',
       'Standard Error Of Ladder Score', 'Upperwhisker', 'Lowerwhisker',
       'Logged Gdp Per Capita', 'Social Support', 'Healthy Life Expectancy',
       'Freedom To Make Life Choices', 'Generosity',
       'Perceptions Of Corruption', 'Ladder Score In Dystopia',
       'Explained By: Log Gdp Per Capita', 'Explained By: Social Support',
       'Explained By: Healthy Life Expectancy',
       'Explained By: Freedom To Make Life Choices',
       'Explained By: Generosity', 'Explained By: Perceptions Of Corruption',
       'Dystopia + Residual'],
      dtype='object')

In [414]:
print(happy21_df.isnull().any().any())

False

In [415]:
happy21_df = happy21_df.rename(columns={'Country Name': 'Country', 'Regional Indicator': 'Region', 'Ladder Score': 'Happiness Score 21'})

In [416]:
happy21_df.columns

Index(['Country', 'Region', 'Happiness Score 21',
       'Standard Error Of Ladder Score', 'Upperwhisker', 'Lowerwhisker',
       'Logged Gdp Per Capita', 'Social Support', 'Healthy Life Expectancy',
       'Freedom To Make Life Choices', 'Generosity',
       'Perceptions Of Corruption', 'Ladder Score In Dystopia',
       'Explained By: Log Gdp Per Capita', 'Explained By: Social Support',
       'Explained By: Healthy Life Expectancy',
       'Explained By: Freedom To Make Life Choices',
       'Explained By: Generosity', 'Explained By: Perceptions Of Corruption',
       'Dystopia + Residual'],
      dtype='object')

In [417]:
cols_to_drop21 = ['Standard Error Of Ladder Score', 'Upperwhisker', 'Lowerwhisker', 'Logged Gdp Per Capita', 'Generosity', 'Perceptions Of Corruption', 'Ladder Score In Dystopia', 'Explained By: Log Gdp Per Capita', 'Explained By: Social Support', 'Explained By: Healthy Life Expectancy', 'Explained By: Freedom To Make Life Choices', 'Explained By: Generosity', 'Explained By: Perceptions Of Corruption', 'Dystopia + Residual', ]

happy21_df = happy21_df.drop(columns = cols_to_drop21)

In [418]:
happy21_df.columns

Index(['Country', 'Region', 'Happiness Score 21', 'Social Support',
       'Healthy Life Expectancy', 'Freedom To Make Life Choices'],
      dtype='object')

In [419]:
happy21_df.tail()

,Country,Region,Happiness Score 21,Social Support,Healthy Life Expectancy,Freedom To Make Life Choices
144,Lesotho,Sub-Saharan Africa,3.512,0.787,48.700,0.715
145,Botswana,Sub-Saharan Africa,3.467,0.784,59.269,0.824
146,Rwanda,Sub-Saharan Africa,3.415,0.552,61.400,0.897
147,Zimbabwe,Sub-Saharan Africa,3.145,0.750,56.201,0.677
148,Afghanistan,South Asia,2.523,0.463,52.493,0.382

In [420]:
happy21_df.tail(20)

,Country,Region,Happiness Score 21,Social Support,Healthy Life Expectancy,Freedom To Make Life Choices
129,Swaziland,Sub-Saharan Africa,4.308,0.770,50.833,0.647
130,Comoros,Sub-Saharan Africa,4.289,0.626,57.349,0.548
131,Egypt,Middle East and North Africa,4.283,0.750,61.998,0.749
132,Ethiopia,Sub-Saharan Africa,4.275,0.764,59.000,0.752
133,Mauritania,Sub-Saharan Africa,4.227,0.795,57.161,0.561
134,Madagascar,Sub-Saharan Africa,4.208,0.686,59.305,0.552
135,Togo,Sub-Saharan Africa,4.107,0.569,54.914,0.619
136,Zambia,Sub-Saharan Africa,4.073,0.708,55.809,0.782
137,Sierra Leone,Sub-Saharan Africa,3.849,0.630,51.651,0.717
138,India,South Asia,3.819,0.603,60.633,0.893
139,Burundi,Sub-Saharan Africa,3.775,0.490,53.400,0.626
140,Yemen,Middle East and North Africa,3.658,0.832,57.122,0.602
141,Tanzania,Sub-Saharan Africa,3.623,0.702,57.999,0.833
142,Haiti,Latin America and Caribbean,3.615,0.540,55.700,0.593
143,Malawi,Sub-Saharan Africa,3.600,0.537,57.948,0.780
144,Lesotho,Sub-Saharan Africa,3.512,0.787,48.700,0.715
145,Botswana,Sub-Saharan Africa,3.467,0.784,59.269,0.824
146,Rwanda,Sub-Saharan Africa,3.415,0.552,61.400,0.897
147,Zimbabwe,Sub-Saharan Africa,3.145,0.750,56.201,0.677
148,Afghanistan,South Asia,2.523,0.463,52.493,0.382

In [421]:
region_country = happy21_df.groupby('Region')['Country'].count().sort_values(ascending=True)

region_country

Region
North America and ANZ                  4
East Asia                              6
South Asia                             7
Southeast Asia                         9
Commonwealth of Independent States    12
Central and Eastern Europe            17
Middle East and North Africa          17
Latin America and Caribbean           20
Western Europe                        21
Sub-Saharan Africa                    36
Name: Country, dtype: int64

In [422]:
happy21_df.to_csv("happy21.csv", index=False)

### Follow link for Tableau bar graph below: "2021 Region Happiness Country Count"

https://public.tableau.com/views/2021RegionHappiness/2021RegionHappinessCountryCount?:language=en-US&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link

## Happiness 2022 DF

In [423]:
happy_df22 = pd.read_csv("C:\\Users\\pwurt\\documents\\DA_pathway\\m3\\World_Happy\\World_Happiness_Report\\.venv\\happiness_report_22\\2022.csv")

happy_df22

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"
...,...,...,...,...,...,...,...,...,...,...,...,...
142,143,Rwanda*,"3,268","3,462","3,074","0,536","0,785","0,133","0,462","0,621","0,187","0,544"
143,144,Zimbabwe,"2,995","3,110","2,880","0,548","0,947","0,690","0,270","0,329","0,106","0,105"
144,145,Lebanon,"2,955","3,049","2,862","0,216","1,392","0,498","0,631","0,103","0,082","0,034"
145,146,Afghanistan,"2,404","2,469","2,339","1,263","0,758","0,000","0,289","0,000","0,089","0,005"
146,147,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [424]:
happy_df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   RANK                                        147 non-null    int64
 1   Country                                     147 non-null    object
 2   Happiness score                             146 non-null    object
 3   Whisker-high                                146 non-null    object
 4   Whisker-low                                 146 non-null    object
 5   Dystopia (1.83) + residual                  146 non-null    object
 6   Explained by: GDP per capita                146 non-null    object
 7   Explained by: Social support                146 non-null    object
 8   Explained by: Healthy life expectancy       146 non-null    object
 9   Explained by: Freedom to make life choices  146 non-null    object
 10  Explained by: Generosity                    146 non-null    object
 11  Explained by: Perceptions of corruption     146 non-null    object
dtypes: int64(1), object(11)
memory usage: 13.9+ KB

In [425]:
happy_df22.tail()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
142,143,Rwanda*,"3,268","3,462","3,074","0,536","0,785","0,133","0,462","0,621","0,187","0,544"
143,144,Zimbabwe,"2,995","3,110","2,880","0,548","0,947","0,690","0,270","0,329","0,106","0,105"
144,145,Lebanon,"2,955","3,049","2,862","0,216","1,392","0,498","0,631","0,103","0,082","0,034"
145,146,Afghanistan,"2,404","2,469","2,339","1,263","0,758","0,000","0,289","0,000","0,089","0,005"
146,147,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [426]:
happy_df22.columns = (happy_df22.columns
                      .str.strip()
                      .str.replace('-', ' ')
                      .str.replace('*', '')
)


happy_df22.head()

,RANK,Country,Happiness score,Whisker high,Whisker low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [427]:
cols_to_drop = ["Dystopia (1.83) + residual", "Whisker high", "Whisker low", "Explained by: GDP per capita", "Explained by: Generosity", "Explained by: Perceptions of corruption"]

happy_df22 = happy_df22.drop(columns = cols_to_drop)

In [428]:
happy_df22.head()

,RANK,Country,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
0,1,Finland,"7,821","1,258","0,775","0,736"
1,2,Denmark,"7,636","1,243","0,777","0,719"
2,3,Iceland,"7,557","1,320","0,803","0,718"
3,4,Switzerland,"7,512","1,226","0,822","0,677"
4,5,Netherlands,"7,415","1,206","0,787","0,651"

In [429]:
print(happy_df22.isnull().any().any())

True

In [430]:
happy_df22.isnull().sum()

RANK                                          0
Country                                       0
Happiness score                               1
Explained by: Social support                  1
Explained by: Healthy life expectancy         1
Explained by: Freedom to make life choices    1
dtype: int64

In [431]:
happy_df22.head()

,RANK,Country,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
0,1,Finland,"7,821","1,258","0,775","0,736"
1,2,Denmark,"7,636","1,243","0,777","0,719"
2,3,Iceland,"7,557","1,320","0,803","0,718"
3,4,Switzerland,"7,512","1,226","0,822","0,677"
4,5,Netherlands,"7,415","1,206","0,787","0,651"

In [432]:
happy_df22.tail(10)

,RANK,Country,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
137,138,Malawi,"3,750","0,279","0,388","0,477"
138,139,Tanzania,"3,702","0,597","0,425","0,578"
139,140,Sierra Leone,"3,574","0,416","0,273","0,387"
140,141,Lesotho*,"3,512","0,848","0,000","0,419"
141,142,Botswana*,"3,471","0,815","0,280","0,571"
142,143,Rwanda*,"3,268","0,133","0,462","0,621"
143,144,Zimbabwe,"2,995","0,690","0,270","0,329"
144,145,Lebanon,"2,955","0,498","0,631","0,103"
145,146,Afghanistan,"2,404","0,000","0,289","0,000"
146,147,xx,NaN,NaN,NaN,NaN

In [433]:
happy_df22.drop(146, axis=0, inplace=True)

happy_df22.tail()

,RANK,Country,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
141,142,Botswana*,"3,471","0,815","0,280","0,571"
142,143,Rwanda*,"3,268","0,133","0,462","0,621"
143,144,Zimbabwe,"2,995","0,690","0,270","0,329"
144,145,Lebanon,"2,955","0,498","0,631","0,103"
145,146,Afghanistan,"2,404","0,000","0,289","0,000"

In [434]:
print(happy_df22.isnull().any().any())

False

In [435]:
happy_df22['Happiness score'] = happy_df22['Happiness score'].str.replace(',', '.', regex=False)

In [436]:
happy_df22.head()

,RANK,Country,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
0,1,Finland,7.821,"1,258","0,775","0,736"
1,2,Denmark,7.636,"1,243","0,777","0,719"
2,3,Iceland,7.557,"1,320","0,803","0,718"
3,4,Switzerland,7.512,"1,226","0,822","0,677"
4,5,Netherlands,7.415,"1,206","0,787","0,651"

In [437]:
happy_df22['Country'] = happy_df22['Country'].str.replace('*', '', regex=False)

In [438]:
happy_df22.tail(20)

,RANK,Country,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
126,127,Sri Lanka,4.362,"0,934","0,660","0,529"
127,128,Madagascar,4.339,"0,645","0,378","0,202"
128,129,Egypt,4.288,"0,732","0,548","0,469"
129,130,Chad,4.251,"0,506","0,225","0,180"
130,131,Ethiopia,4.241,"0,809","0,457","0,472"
131,132,Yemen,4.197,"1,043","0,384","0,330"
132,133,Mauritania,4.153,"0,865","0,450","0,304"
133,134,Jordan,4.152,"0,724","0,675","0,476"
134,135,Togo,4.112,"0,322","0,360","0,292"
135,136,India,3.777,"0,376","0,471","0,647"
136,137,Zambia,3.760,"0,577","0,306","0,525"
137,138,Malawi,3.750,"0,279","0,388","0,477"
138,139,Tanzania,3.702,"0,597","0,425","0,578"
139,140,Sierra Leone,3.574,"0,416","0,273","0,387"
140,141,Lesotho,3.512,"0,848","0,000","0,419"
141,142,Botswana,3.471,"0,815","0,280","0,571"
142,143,Rwanda,3.268,"0,133","0,462","0,621"
143,144,Zimbabwe,2.995,"0,690","0,270","0,329"
144,145,Lebanon,2.955,"0,498","0,631","0,103"
145,146,Afghanistan,2.404,"0,000","0,289","0,000"

In [439]:
edit_cols = {
    'Explained by: GDP per capita': {',': '.'},
    'Explained by: Social support': {',': '.'},
    'Explained by: Healthy life expectancy': {',': '.'},
    'Explained by: Freedom to make life choices': {',':'.'},
    'Explained by: Generosity': {',':'.'},
    'Explained by: Perceptions of corruption': {',':'.'}
}

happy_df22 = happy_df22.replace(edit_cols, regex=True)

happy_df22.tail(10)

,RANK,Country,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
136,137,Zambia,3.760,0.577,0.306,0.525
137,138,Malawi,3.750,0.279,0.388,0.477
138,139,Tanzania,3.702,0.597,0.425,0.578
139,140,Sierra Leone,3.574,0.416,0.273,0.387
140,141,Lesotho,3.512,0.848,0.000,0.419
141,142,Botswana,3.471,0.815,0.280,0.571
142,143,Rwanda,3.268,0.133,0.462,0.621
143,144,Zimbabwe,2.995,0.690,0.270,0.329
144,145,Lebanon,2.955,0.498,0.631,0.103
145,146,Afghanistan,2.404,0.000,0.289,0.000

In [440]:
happy_df22["Happiness score"] = happy_df22["Happiness score"].astype(float)

In [441]:
happy_df22.dtypes

RANK                                            int64
Country                                        object
Happiness score                               float64
Explained by: Social support                   object
Explained by: Healthy life expectancy          object
Explained by: Freedom to make life choices     object
dtype: object

## Joining Happiness DF 2021 and 2022

In [442]:
happy_merged = pd.merge(happy21_df, happy_df22, how="outer", on=["Country"])

In [443]:
happy_merged.head(20)

,Country,Region,Happiness Score 21,Social Support,Healthy Life Expectancy,Freedom To Make Life Choices,RANK,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices
0,Afghanistan,South Asia,2.523,0.463,52.493,0.382,146.0,2.404,0.000,0.289,0.000
1,Albania,Central and Eastern Europe,5.117,0.697,68.999,0.785,90.0,5.199,0.646,0.719,0.511
2,Algeria,Middle East and North Africa,4.887,0.802,66.005,0.480,96.0,5.122,0.970,0.643,0.146
3,Argentina,Latin America and Caribbean,5.929,0.898,69.000,0.828,57.0,5.967,1.102,0.662,0.555
4,Armenia,Commonwealth of Independent States,5.283,0.799,67.055,0.825,82.0,5.399,0.820,0.668,0.558
5,Australia,North America and ANZ,7.183,0.940,73.900,0.914,12.0,7.162,1.203,0.772,0.676
6,Austria,Western Europe,7.268,0.934,73.300,0.908,11.0,7.163,1.165,0.774,0.623
7,Azerbaijan,Commonwealth of Independent States,5.171,0.836,65.656,0.814,92.0,5.173,1.093,0.560,0.601
8,Bahrain,Middle East and North Africa,6.647,0.862,69.495,0.925,21.0,6.647,1.029,0.625,0.693
9,Bangladesh,South Asia,5.025,0.693,64.800,0.877,94.0,5.155,0.614,0.581,0.622
10,Belarus,Commonwealth of Independent States,5.534,0.910,66.253,0.650,65.0,5.821,1.157,0.629,0.342
11,Belgium,Western Europe,6.834,0.906,72.199,0.783,19.0,6.805,1.106,0.764,0.492
12,Benin,Sub-Saharan Africa,5.045,0.489,54.713,0.757,115.0,4.623,0.064,0.335,0.479
13,Bolivia,Latin America and Caribbean,5.716,0.810,63.901,0.875,71.0,5.600,0.880,0.555,0.627
14,Bosnia and Herzegovina,Central and Eastern Europe,5.813,0.870,68.098,0.706,67.0,5.768,1.068,0.665,0.448
15,Botswana,Sub-Saharan Africa,3.467,0.784,59.269,0.824,142.0,3.471,0.815,0.280,0.571
16,Brazil,Latin America and Caribbean,6.330,0.882,66.601,0.804,38.0,6.293,1.044,0.615,0.546
17,Bulgaria,Central and Eastern Europe,5.266,0.931,67.000,0.788,85.0,5.371,1.163,0.640,0.563
18,Burkina Faso,Sub-Saharan Africa,4.834,0.672,54.151,0.695,113.0,4.670,0.565,0.320,0.382
19,Burundi,Sub-Saharan Africa,3.775,0.490,53.400,0.626,NaN,NaN,NaN,NaN,NaN

In [444]:
print(happy_merged.isnull().any().any())

True

In [445]:
happy_merged.isnull().sum()

Country                                       0
Region                                        3
Happiness Score 21                            3
Social Support                                3
Healthy Life Expectancy                       3
Freedom To Make Life Choices                  3
RANK                                          6
Happiness score                               6
Explained by: Social support                  6
Explained by: Healthy life expectancy         6
Explained by: Freedom to make life choices    6
dtype: int64

In [446]:
happy_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     152 non-null    object
 1   Region                                      149 non-null    object
 2   Happiness Score 21                          149 non-null    float64
 3   Social Support                              149 non-null    float64
 4   Healthy Life Expectancy                     149 non-null    float64
 5   Freedom To Make Life Choices                149 non-null    float64
 6   RANK                                        146 non-null    float64
 7   Happiness score                             146 non-null    float64
 8   Explained by: Social support                146 non-null    object
 9   Explained by: Healthy life expectancy       146 non-null    object
 10  Explained by: Freedom to make life choices  146 non-null    object
dtypes: float64(6), object(5)
memory usage: 13.2+ KB

In [447]:
happy_merged = happy_merged.drop("RANK", axis= 1)

In [448]:
happy_merged.columns

Index(['Country', 'Region', 'Happiness Score 21', 'Social Support',
       'Healthy Life Expectancy', 'Freedom To Make Life Choices',
       'Happiness score', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices'],
      dtype='object')

In [449]:
print(happy_merged[["Happiness Score 21", "Happiness score"]].dtypes)

Happiness Score 21    float64
Happiness score       float64
dtype: object

In [450]:
happy_merged['Happiness Rating Avg 21-22'] = happy_merged[['Happiness Score 21', 'Happiness score']].mean(axis=1)

In [452]:
happy_merged.head(20)

,Country,Region,Happiness Score 21,Social Support,Healthy Life Expectancy,Freedom To Make Life Choices,Happiness score,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Happiness Rating Avg 21-22
0,Afghanistan,South Asia,2.523,0.463,52.493,0.382,2.404,0.000,0.289,0.000,2.4635
1,Albania,Central and Eastern Europe,5.117,0.697,68.999,0.785,5.199,0.646,0.719,0.511,5.1580
2,Algeria,Middle East and North Africa,4.887,0.802,66.005,0.480,5.122,0.970,0.643,0.146,5.0045
3,Argentina,Latin America and Caribbean,5.929,0.898,69.000,0.828,5.967,1.102,0.662,0.555,5.9480
4,Armenia,Commonwealth of Independent States,5.283,0.799,67.055,0.825,5.399,0.820,0.668,0.558,5.3410
5,Australia,North America and ANZ,7.183,0.940,73.900,0.914,7.162,1.203,0.772,0.676,7.1725
6,Austria,Western Europe,7.268,0.934,73.300,0.908,7.163,1.165,0.774,0.623,7.2155
7,Azerbaijan,Commonwealth of Independent States,5.171,0.836,65.656,0.814,5.173,1.093,0.560,0.601,5.1720
8,Bahrain,Middle East and North Africa,6.647,0.862,69.495,0.925,6.647,1.029,0.625,0.693,6.6470
9,Bangladesh,South Asia,5.025,0.693,64.800,0.877,5.155,0.614,0.581,0.622,5.0900
10,Belarus,Commonwealth of Independent States,5.534,0.910,66.253,0.650,5.821,1.157,0.629,0.342,5.6775
11,Belgium,Western Europe,6.834,0.906,72.199,0.783,6.805,1.106,0.764,0.492,6.8195
12,Benin,Sub-Saharan Africa,5.045,0.489,54.713,0.757,4.623,0.064,0.335,0.479,4.8340
13,Bolivia,Latin America and Caribbean,5.716,0.810,63.901,0.875,5.600,0.880,0.555,0.627,5.6580
14,Bosnia and Herzegovina,Central and Eastern Europe,5.813,0.870,68.098,0.706,5.768,1.068,0.665,0.448,5.7905
15,Botswana,Sub-Saharan Africa,3.467,0.784,59.269,0.824,3.471,0.815,0.280,0.571,3.4690
16,Brazil,Latin America and Caribbean,6.330,0.882,66.601,0.804,6.293,1.044,0.615,0.546,6.3115
17,Bulgaria,Central and Eastern Europe,5.266,0.931,67.000,0.788,5.371,1.163,0.640,0.563,5.3185
18,Burkina Faso,Sub-Saharan Africa,4.834,0.672,54.151,0.695,4.670,0.565,0.320,0.382,4.7520
19,Burundi,Sub-Saharan Africa,3.775,0.490,53.400,0.626,NaN,NaN,NaN,NaN,3.7750